<ons-tabbar>
    <ons-tabbar-item active="true" page="templates/forms/clienteSearch.html">
        <div class="tab">
            <ons-icon icon="fa-building-o" class="tab-icon"></ons-icon>
            <div class="tab-label">Contratista</div>
        </div>
    </ons-tabbar-item>
    <ons-tabbar-item page="templates/home.html">
        <div class="tab">
            <ons-icon icon="fa-user" class="tab-icon"></ons-icon>
            <div class="tab-label">Empleados</div>
        </div>
    </ons-tabbar-item>
    <ons-tabbar-item page="templates/home.html">
        <div class="tab">
            <ons-icon icon="fa-truck" class="tab-icon"></ons-icon>
            <div class="tab-label">Vehículos</div>
        </div>
    </ons-tabbar-item>
    <ons-tabbar-item page="templates/home.html">
        <div class="tab">
            <ons-icon icon="fa-file-text-o" class="tab-icon"></ons-icon>
            <div class="tab-label">Doc Rechazados</div>
        </div>
    </ons-tabbar-item>
    <ons-tabbar-item page="templates/pages/contacto.html">
        <div class="tab">
            <ons-icon icon="fa-phone" class="tab-icon"></ons-icon><div class="tab-label">Soporte</div>
        </div>
    </ons-tabbar-item>
</ons-tabbar>
