.left {
    text-align: left;
}
/*--- PAGE ---*/
/*--- Login begin ---*/

.text-centering {
    text-align: center;
}
.font-weight-500 {
    font-weight: 500;
}
.main-image-wrapper {
    text-align: center;
    height: 180px;
    margin: 30px 0;
}
.main-image {
    font-size: 150px;
    line-height: 200px;
}
input[type=text], input[type=email], input[type=password] {
    display: block;
    width: 100%;
    height: 42px;
    margin: 0 auto;
    font-size: 19px;
    outline: none;
    line-height: 29px;
    margin-top: 0px;
    margin-bottom: 15px;
}
.login-button {
    display: block;
    width: 80%;
    margin: 0 auto 0 auto;
    font-size: 18px;
}
.forgot-password {
    display: block;
    margin: 8px auto 0 auto;
    font-size: 14px;
}
/*--- Login end ---*/
/*---select begin ---*/

.select-combo {
    display: block;
    width: 100%;
    height: 48px;
    margin: 0 auto;
    font-size: 19px;
    outline: none;
    line-height: 48px;
}
/*---select end---*/
/*--- toolbar begin ---*/

.bars-in-logo {} .back-button-image {} label {
    font-size: 14px;
    color: gray;
}
.content-padded-left-right {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 0px;
    padding-bottom: 0px;
}
/*--- override de estilos */

.tab-bar__button {
    color: #000;
    line-height: normal;
}
.tab-label {
    font-size: 12px;
}
/* lista de busqueda */

.list-item-container {
    line-height: 1;
    font-size: 14px;
    padding: 15px 0px 15px 15px;
}
.list-item-left {
    width: 60px;
    margin-right: -60px;
    float: left;
}
.list-item-right {
    width: 100%;
    float: right;
}
.list-item-content {
    margin-left: 50px;
    margin-right: 30px;
}
.avator {
    width: 40px;
    height: 40px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}
.name {
    font-weight: 600;
    line-height: 16px;
    font-size: 15px;
    margin-bottom: 6px;
}
.desc {
    line-height: 10px;
}
.lucent {
    opacity: 0.4;
}
/*--- Detalles del personal(persona)---*/

.profile-card {
    width: 100%;
    text-align: center;
    color: white;
    padding: 30px 0;
    line-height: 1.4;
    background-color: #33393c;
    text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
}
.profile-image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: black;
    border 1px solid white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 0px 0px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 0px 0px;
}
.profile-name {
    margin: 20px 0 0 0;
    font-weight: 600;
    font-size: 17px;
}
.profile-id {
    margin: 0 0 5px 0;
    font-size: 14px;
    opacity: 0.6;
}
.profile-desc {
    font-size: 15px;
    opacity: 0.6;
    width: 90%;
    text-align: center;
    margin: 0 auto;
}
.info-col {
    height: 60px;
    line-height: 1;
    padding: 12px 0 12px 4px;
}
.info-num {
    font-size: 16px;
    font-weight: 500;
    opacity: 0.8;
}
.info-unit {
    margin-top: 6px;
    font-size: 14px;
    opacity: 0.4;
}
/*---Text input---*/

.text-input {
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    background: transparent;
    border: none;
    line-height: normal;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    vertical-align: top;
    outline: none;
    line-height: 1;
    font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 0;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #ffffff;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #1f1f21;
    padding: 4px 8px 0 8px;
    margin: 0;
    font-size: 15px;
    height: 31px;
    font-weight: 400;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.text-input::-webkit-input-placeholder, .text-input::-moz-placeholder, .text-input::-ms-input-placeholder {
    color: #999;
}
.text-input:disabled {
    opacity: 0.3;
    cursor: default;
    pointer-events: none;
}
.text-input:disabled::-webkit-input-placeholder, .text-input:disabled::-moz-placeholder, .text-input:disabled:-ms-input-placeholder {
    color: #999;
}
.text-input:invalid {
    border: 1px solid var-input-invalid-border-color;
    color: #1f1f21;
}
/*--- Toolbar ---*/

.toolbar_ehs_left {
    float: left;
    text-align: left;
    margin-left: -10px;
}
.toolbar_ehs_right {
    margin-top: -8px;
    float: right;
    text-align: left;
    margin-right: 5px;
}
.ehs-button-align {
    vertical-align: 100%;
}
.logo-image {
    position: absolute;
    padding-top: 2px;
}
.ehs-header-text {
    text-align: right;
    width: 100%;
    float: left;
    height: 17px;
    font-weight: bold;
    font-size: 12px;
}
.ehs-header-username {
    text-align: right;
    width: 100%;
    float: left;
    height: 17px;
    color: #0096df;
    font-weight: bold;
    font-size: 50%;
    font-size: 2.5vw;
}
.list-item-container-ehs {
    height: 84px;
}
.name-ehs-title {
    font-size: 50px;
    font-size: 6.1vw;
    text-transform: capitalize;
    margin-top: 13px;
}
.list--inset--ehs {
    margin-left: 8px;
    margin-right: 8px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-image: none;
}
