.left {
    text-align: left;
}
/*--- PAGE ---*/


/*--- Login begin ---*/

.text-centering {
    text-align: center;
}
.font-weight-500 {
    font-weight: 500;
}
.main-image-wrapper {
    text-align: center;
    height: 180px;
    margin: 30px 0;
}
.main-image {
    font-size: 150px;
    line-height: 200px;
}
input[type=text], input[type=email], input[type=password] {
    display: block;
    width: 100%;
    height: 29px;
    margin: 0 auto;
    font-size: 19px;
    outline: none;
    line-height: 29px;
    margin-top: 0px;
    margin-bottom: 15px;
}
.login-button {
    display: block;
    width: 80%;
    margin: 0 auto 0 auto;
    font-size: 18px;
}
.forgot-password {
    display: block;
    margin: 8px auto 0 auto;
    font-size: 14px;
}
/*--- Login end ---*/

/*---select begin ---*/

.select-combo {
    display: block;
    width: 100%;
    height: 48px;
    margin: 0 auto;
    font-size: 19px;
    outline: none;
    line-height: 48px;
}
/*---select end---*/

/*--- toolbar begin ---*/

.bars-in-logo {
}
.back-button-image {
    
}


label {
    font-size: 14px;
    color: gray;
}
.content-padded-left-right {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 0px;
    padding-bottom: 0px;
}

/*--- override de estilos */
.tab-bar__button {
    color: #000;
    line-height: normal;
}
.tab-label
{
    font-size: 12px;
}