<ons-page ng-controller="LoginController">
    <module-header></module-header>
    <div class="content-padded">
        <form ng-submit="login">
            <ons-row style="margin-top: 20px;">
                <ons-col>
                    <label>Usuario o e-mail:</label>
                    <input type="text" ng-model="userData.userName" class="text-input--underbar" placeholder="Usuario o e-mail" value="">
                </ons-col>
            </ons-row>
            <ons-row style="margin-top: 0px;">
                <ons-col>
                    <label>Password:</label>
                    <input type="password" ng-model="userData.password" class="text-input--underbar" placeholder="Password" value="">
                </ons-col>
            </ons-row>
            <ons-row style="margin-top: 0px;">
                <ons-col>
                    <label>Tipo:</label>
                    <select class="select-combo" ng-model="userData.profileData.tipo">
                        <option value="">-- Tipo de Usuario --</option>
                        <option value="1">Empresa</option>
                        <option value="2">Contratista</option>
                    </select>
                </ons-col>
            </ons-row>
            <ons-row style="margin-top: 20px;">
                <ons-col>
                    <ons-button modifier="large" should-spin="{{isWorking}}" ng-click="login()" type="submit">Ingresar</ons-button>
                </ons-col>
            </ons-row>
        </form>
    </div>
</ons-page>
