<ons-page class="center">
    <module-header></module-header>
    <!-- Solo se muestra si es una categoría -->
    <div style="text-align: center" class="content-padded" ng-hide="loading">

        <ons-list>
            <ons-list-item ng-repeat="documento in documentacionVehiculo" modifier="chevron" class="list-item-container">
                <div class="list-item-left">
                    <ons-icon ng-show="documento.estado == 'Vencido'" icon="fa-clock-o" size="40px" style="color: #cc0000"></ons-icon>
                    <ons-icon ng-show="documento.estado == 'No presento'" icon="fa-times-circle" size="40px" style="color: #cc0000"></ons-icon>

                    <ons-icon ng-show="documento.estado != 'No presento' && documento.estado != 'Vencido'" icon="fa-check-circle" size="40px" style="color: #00bb00"></ons-icon>
                </div>
                <div class="list-item-right">
                    <div class="list-item-content">
                        <div class="name">{{documento.nombre}}</div>

                        <span class="desc"><b>Vencimiento:</b> {{documento.vencimiento==''?'No Aplica':documento.vencimiento}}</span>
                        <br>
                        <span class="desc"><b>Estado:</b> {{documento.estado}}</span>
                    </div>
                </div>
            </ons-list-item>
        </ons-list>
        <br>
    <ons-button modifier="large" ng-click="ons.navigator.popPage()">volver</ons-button>
    </div>
    <module-loading-spinner ng-show="loading && !connectionFail"></module-loading-spinner>
    <module-sin-conexion ng-show="connectionFail"></module-sin-conexion>
</ons-page>
