<ons-page class="center" ng-init="getDetallesContratistaAsEmpresa(contratista.codigo)">
    <module-header></module-header>
    <!-- Solo se muestra si es una categoría -->
    <ons-scroller>
        <div style="text-align: center" class="content-padded" ng-hide="loading">
            <ons-list modifier="inset" style="margin-top: 10px">
                <ons-list-item class="list-item-container list-item-container-ehs">
                    <div class="list-item-left">
                        <ons-icon ng-show="contratista.info.estado == 0" icon="fa-times-circle" size="40px" style="color: #cc0000"></ons-icon>
                        <ons-icon ng-show="contratista.info.estado != 0" icon="fa-check-circle" size="40px" style="color: #00bb00"></ons-icon>
                    </div>
                    <div class="list-item-right">
                        <div class="list-item-content">
                            <div class="name name-ehs-title">{{contratista.info.razonSocial}}</div>

                            <!-- <span class="desc"><b>Cadorna:</b> {{documento.vencimiento==''?'No Aplica':documento.vencimiento}}</span>
                            <br>
                            <span class="desc"><b>Estado:</b> {{documento.estado}}</span> -->
                        </div>
                    </div>
                </ons-list-item>
                <ons-list-header>Documentos</ons-list-header>
                <ons-list-item ng-repeat="documento in documentacionContratista" class="list-item-container list-item-container-ehs">
                    <div class="list-item-left">
                        <ons-icon ng-hide="documento.estado != 'No Presento' && documento.estado != 'Vencido'" icon="fa-times-circle" size="40px" style="color: #cc0000"></ons-icon>
                        <ons-icon ng-show="documento.estado != 'No Presento' && documento.estado != 'Vencido'" icon="fa-check-circle" size="40px" style="color: #00bb00"></ons-icon>
                    </div>
                    <div class="list-item-right">
                        <div class="list-item-content">
                            <div class="name">{{documento.nombre}}</div>

                            <span class="desc"><b>Vencimiento:</b> {{documento.vencimiento==''?'No Aplica':documento.vencimiento}}</span>
                            <br>
                            <span class="desc"><b>Estado:</b> {{documento.estado}}</span>
                        </div>
                    </div>
                </ons-list-item>
                <ons-list-header>Datos de la Empresa</ons-list-header>
                <ons-list-item class="list-item-container">
                    <b>C.U.I.T. : </b>{{contratista.info.cuit}}
                </ons-list-item>

                <ons-list-item class="list-item-container">
                    <b>Dirección : </b>{{contratista.info.direccion}}
                </ons-list-item>

                <ons-list-item class="list-item-container">
                    <b>Contacto Administrativo : </b>{{contratista.info.administrativo_contacto}}
                </ons-list-item>

                <ons-list-item class="list-item-container">
                    <b>Teléfono de Contacto : </b>{{contratista.info.administrativo_telefono}}
                </ons-list-item>

                <ons-list-item class="list-item-container">
                    <b>e-mail : </b>{{contratista.info.email}}
                </ons-list-item>

                <ons-list-item class="list-item-container">
                    <b>Actividad : </b>{{contratista.info.actividad}}
                </ons-list-item>

                <ons-list-item class="list-item-container">
                    <b>Emergencia : </b>{{contratista.info.emergencia}}
                </ons-list-item>
                <ons-list-item class="list-item-container">
                    <b>A.R.T. : </b>{{contratista.info.art}}
                </ons-list-item>
                <ons-list-item class="list-item-container">
                    <b>Contrato : </b>{{contratista.info.contrato}}
                </ons-list-item>
                <ons-list-item class="list-item-container">
                    <b>Sub Contratista de : </b>{{contratista.info.subcontratista}}
                </ons-list-item>

            </ons-list>
            <module-loading-spinner ng-show="loading && !connectionFail"></module-loading-spinner>
            <module-sin-conexion ng-show="connectionFail"></module-sin-conexion>
            <br>
            <ons-button modifier="large" ng-click="ons.navigator.popPage()">volver</ons-button>
        </div>
    </ons-scroller>

</ons-page>
