<ons-navigator>
    <ons-page class="center" ng-init="getDocumentosRechazados(userData.profileData.codigo)">
        <module-header></module-header>
        <!-- Solo se muestra si es una categoría -->
        <div style="text-align: center" class="content-padded" ng-hide="loading">

            <ons-list>
                <ons-list-item ng-repeat="documento in searchResult" class="list-item-container list-item-container-ehs">
                    <div class="list-item-left">

                        <ons-icon icon="fa-times-circle" size="40px" style="color: #cc0000"></ons-icon>

                       
                    </div>
                    <div class="list-item-right">
                        <div class="list-item-content">
                            <div class="name">{{documento.nombre}}</div>

                            <span class="desc"><b>Vencimiento:</b> {{documento.carga==''?'No Aplica':documento.carga}}</span>
                        </div>
                    </div>
                </ons-list-item>
            </ons-list>
        </div>
        <module-loading-spinner ng-show="loading && !connectionFail"></module-loading-spinner>
        <module-sin-conexion ng-show="connectionFail"></module-sin-conexion>
    </ons-page>
</ons-navigator>
