<ons-page class="center">
    <module-header></module-header>
    <div class="profile-card">
        <img src="{{detallesEmpleado.foto}}" class="profile-image">
        <div class="profile-name">{{detallesVehiculo.patente}}</div>
        <div class="profile-desc"></div>
    </div>
    <!-- Solo se muestra si es una categoría -->
    <div style="text-align: center" class="content-padded" ng-hide="loading || connectionFail">
        <br>
        <ons-button modifier="large" ng-click="ons.navigator.popPage()">volver</ons-button>
        <ons-list modifier="inset" style="margin-top: 10px">
            <ons-list-header>Documentos del Vehículo</ons-list-header>
            <ons-list-item ng-repeat="documento in documentacionVehiculo" class="list-item-container list-item-container-ehs">
                <div class="list-item-left">

                    <ons-icon ng-hide="documento.estado != 'No presento' && documento.estado != 'Vencido'" icon="fa-times-circle" size="40px" style="color: #cc0000;padding-top: 6px;"></ons-icon>

                    <ons-icon ng-show="documento.estado != 'No presento' && documento.estado != 'Vencido'" icon="fa-check-circle" size="40px" style="color: #00bb00;padding-top: 6px"></ons-icon>
                </div>
                <div class="list-item-right">
                    <div class="list-item-content">
                        <div class="name">{{documento.nombre}}</div>

                        <span class="desc"><b>Vencimiento:</b> {{documento.vencimiento==''?'No Aplica':documento.vencimiento}}</span>
                        <br>
                        <span class="desc"><b>Estado:</b> {{documento.estado}}</span>
                    </div>
                </div>
            </ons-list-item>

            <!-- patente": "FQI659",
    "descripcion": "Auto Blanco", -->
            <ons-list-header>Datos del Vehículo</ons-list-header>
            <ons-list-item class="list-item-container">
                <b>Patente : </b>{{detallesVehiculo.patente}}
            </ons-list-item>

            <ons-list-item class="list-item-container">
                <b>Descripción : </b>{{detallesEmpleado.descripcion}}
            </ons-list-item>
        </ons-list>
    </div>
    <module-loading-spinner ng-show="loading && !connectionFail"></module-loading-spinner>
    <module-sin-conexion ng-show="connectionFail"></module-sin-conexion>
    <module-sin-resultados ng-show="!loading && !connectionFail && searchResult.length == 0"></module-sin-resultados>
</ons-page>
