<ons-navigator>
    <ons-page class="center" ng-init="getVehiculos(userData.profileData.codigo)">
        <module-header></module-header>
        <!-- Solo se muestra si es una categoría -->
        <div style="text-align: center" class="content-padded" ng-hide="loading || connectionFail">
            <ons-row style="margin-top: 0px; border-color: #cccccc; border-top: 1px">
                <ons-col>
                    <label>Busqueda de Vehículos</label>
                    <input type="text" class="text-input" ng-model="stringSearchVehiculoRT" placeholder="Buscar..." value="">
                </ons-col>
            </ons-row>
            <div ng-include="'templates/modules/listaSearchResultVehiculos.html'"></div>
            <br>
            <ons-button modifier="large" ng-hide="userData.profileData.tipo == 1" ng-click="ons.navigator.popPage()">volver</ons-button>
        </div>
        <module-loading-spinner ng-show="loading && !connectionFail"></module-loading-spinner>
        <module-sin-conexion ng-show="connectionFail"></module-sin-conexion>
        <module-sin-resultados ng-show="!loading && !connectionFail && searchResult.length == 0"></module-sin-resultados>
    </ons-page>
</ons-navigator>
